<!-- views/pages/apparel.ejs -->
<!-- This page will be the dynamic HTML template we'll be using to get stuff from the database and show them on the website. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Apparel</h1>
        <p>This is the apparel page.</p>
    </div>
     <div class="container">
    <h1>Popular</h1>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://cdn.shopify.com/s/files/1/2476/1136/products/POH166-1_1024x1024@2x.jpg?v=1525968388" alt="Card image cap">
                <div class="card-body">
                  <h5>My Hero Academia - Izuku Midoriya Hero Hoodie</h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
        <h1>My Hero Academia</h1>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://cdn.shopify.com/s/files/1/2476/1136/products/POH166-1_1024x1024@2x.jpg?v=1525968388" alt="Card image cap">
                <div class="card-body">
                  <h5>My Hero Academia - Izuku Midoriya Hero Hoodie</h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
        <h1>Pokemon</h1>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://cdn.shopify.com/s/files/1/2476/1136/products/POH166-1_1024x1024@2x.jpg?v=1525968388" alt="Card image cap">
                <div class="card-body">
                  <h5>My Hero Academia - Izuku Midoriya Hero Hoodie</h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>          
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>