<!-- views/pages/apparel.ejs -->
<!-- This page will be the dynamic HTML template we'll be using to get stuff from the database and show them on the website. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<div class="container">
    <h1>Popular</h1>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://cdn.shopify.com/s/files/1/0954/4816/products/ZH503-P_grande.jpg?v=1516331873"  alt="Card image cap">
                <div class="card-body">
                  <h5><a href=/midoriyahoodie>My Hero Academia - Izuku Midoriya Hero Hoodie</a></h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
        </div>
        <div class="col-sm">
          <!-- Card inside the column-->
          <div class="card" style="width: 21rem;">
            <!--Product Image-->
              <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://i.kym-cdn.com/photos/images/original/001/241/002/b78.jpg" alt="Card image cap">
              <div class="card-body">
                <!--Product Name-->
                <h5>Miraculous Ladybug - Chat Noir</h5>
                <!--Buttons-->
                <center>
                    <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                    <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                    <button type="button" class="btn btn-primary btn-sm">View More</button>
                </center>                
              </div>
            </div>
        </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>