<!-- views/pages/contactus.ejs -->


<html lang="en">
    <style>
        
        .contact-info{
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
    </style>
<head>
    <% include ../partials/head %>
        
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="container">
        <div class="row">
        
            <div class="col-sm-4">
                <div class="contact-info">
        
                    <div class="container">
                        <h2>Corporate Headquarters</h2>
                        <p>Corporate Headquarters
                        <br> BananaCat
                        <br>1234 BananaCat Ave, Suite 3
                        <br>Fullerton, CA 123456</p>
                    </div>
                
                    <div class="container">
                        <h2>Sales Info & Inquiries</h2>
                        <p>Toll-Free:800-123-1234
                        <br>Email: info@bananacat.com</p>
            
                    </div>
                
                  
                
             
    
            
                    <div class="container">
                        <h2>General Contact</h2>
                        <p>Toll-Free:888-123-1234
                        <br>Phone: 718-239-1294
                        <br>Fax: 712-495-1234
                        <br>Email: bananacat@gmail.com</p> 
                
                    </div>
                
                
                    <div class="container">
                        <h2>International Sales</h2>
                        <p>Email: international@bananacat.com<br>Phone: 234-098-1238
                        <br>Schedule: Monday-Thursday 1:15 AM to 10:30 PM ET
                        <br>Friday &:30 AM to 10:30 PM ET</p>
                
                    </div>
                
            
            
                </div>
            </div>
            <div class="col-sm-8">
                <h1 align="center">BananaCat</h1>
                <h2 align="center">Contact Form</h2>
                <p align="center">Please fill in all fields</p>
            
                <div class="container">
                    <form method="GET" action="mailto:contact.bananacat@gmail.com" enctype="text/plain" > 
                        
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                            <br>
                            <div class="form-group"> <!-- formated to look like the create an account page, etc. -->
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <br>

                            <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"></button> <!-- button styled like the rest of the website -->

                    </form>
                </div>

                
                    <script>
                        var form = document.getElementsByTagName('form')[0];
                        form.addEventListener('submit',contact,false);
                        function contact(e) {
                        // Prevent Default Form Submission
                             e.preventDefault();

                            var target = e.target || e.srcElement;
                            var i = 0;
                            var message = '';

                            // Loop Through All Input Fields
                            for(i = 0; i < target.length; ++i) {
                                // Check to make sure it's a value. Don't need to include Buttons
                                if(target[i].type != 'text' && target[i].type != 'textarea') {
                                    // Skip to next input since this one doesn't match our rules
                                    continue;
                                }

                                // Add Input Name and value followed by a line break
                                message += target[i].name + ': ' + target[i].value + "\r\n";
                            }
                            // Modify the hidden body input field that is required for the mailto: scheme
                            target.elements["body"].value = message;

                            // Submit the form since we previously stopped it. May cause recursive loop in some browsers? Should research this.
                            this.submit();
                         }
                </script>
                </div>
            </div>
        
    
        </div>   
        
    </div>
    

    



</html>



</main>


<footer>
    <% include ../partials/footer %>
</footer>
</body>
