<!-- views/pages/products.ejs -->

<!-- TODO: Figure out how to connect this page to the MySQL database. -->
<!-- TODO: Create a list of products into different sections. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> <!-- Including partials/head -->
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
   <div class="container">
    <h1>Recommendations</h1>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->
            <div class="card" style="width: 21rem;">
                <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://i.kym-cdn.com/photos/images/original/001/238/535/180.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5>Miraculous Ladybug - Ladybug</h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
        </div>
        <div class="col-sm">
          <!-- Card inside the column-->
          <div class="card" style="width: 21rem;">
            <!--Product Image-->
              <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://i.kym-cdn.com/photos/images/original/001/241/002/b78.jpg" alt="Card image cap">
              <div class="card-body">
                <!--Product Name-->
                <h5>Miraculous Ladybug - Chat Noir</h5>
                <!--Buttons-->
                <center>
                    <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                    <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                    <button type="button" class="btn btn-primary btn-sm">View More</button>
                </center>                
              </div>
            </div>
        </div>
        <div class="col-sm">
          <!-- Card inside the column-->
          <div class="card" style="width: 21rem;">
              <img class="card-img-top" style="width: 21rem; height: 21rem" src="https://i.ebayimg.com/images/g/9c4AAOSwAllbbVes/s-l640.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>Nendoroid - Megumi</h5>
                <center>
                    <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                    <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                    <button type="button" class="btn btn-primary btn-sm">View More</button>
                </center>
              </div>
            </div>
            <p align="right"><a href="#">Browse more recommendations >></a></p>
        </div> <!-- End of columns-->
        
      </div> 
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>