<!-- views/pages/products.ejs -->

<!-- TODO: Figure out how to connect this page to the MySQL database. -->
<!-- TODO: Create a list of products into different sections. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> <!-- Including partials/head -->
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>BananaCat</h1>
        <p>This is the products page.</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>