<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  	$(document).ready(function(){
  		var fn, ln, em, pass, add, c, s, z;
  		$("#submit").click(function(){
  			fn=$("#fname").val();
  			ln=$("#lname").val();
  			em=$("#inputEmail4").val();
  			pass=$("#inputPassword4").val();
  			add=$("#inputAddress").val();
  			c=$("#inputCity").val();
  			s=$("#inputState").val();
  			z=$("#inputZip").val();
  			$.post("http://localhost:8080/register",
  		{fname: fn, lname: ln, inputEmail4: em, inputPassword4: pass, 
  		 inputAddress: add, inputCity: c, inputState: s, inputZip: z},
  		 function(data){
  		 	if(data == "yes")
  		 		{
  		 			alert("Register Success");
					window.location.replace("/?");
  		 		}
  		 	});
  		 });
  	});
  </script>
</head>

<header>
  <% include ../partials/header %>
</header>

  <div class="container">
	<% if(!myVar) { %>
      <h1> Register! </h1>

      <form>
        <div class="form-row">
          <div class="col">
            <label for="firstName">First Name</label>
            <input type="text" id="fname" class="form-control" placeholder="Banana">
          </div>
          <div class="col">
            <label for="lastName">Last Name</label>
            <input type="text" id="lname" class="form-control" placeholder="Cat">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="bananacat@bananacat.com">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="123 Banana St">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            
            <select id="inputState" class="form-control">
            	<option value="AL">Alabama</option>
            	<option value="AK">Alaska</option>
            	<option value="AZ">Arizona</option>
            	<option value="AR">Arkansas</option>
            	<option value="CA">California</option>
            	<option value="CO">Colorado</option>
            	<option value="CT">Connecticut</option>
            	<option value="DE">Delaware</option>
            	<option value="DC">District Of Columbia</option>
            	<option value="FL">Florida</option>
            	<option value="GA">Georgia</option>
            	<option value="HI">Hawaii</option>
            	<option value="ID">Idaho</option>
            	<option value="IL">Illinois</option>
            	<option value="IN">Indiana</option>
            	<option value="IA">Iowa</option>
            	<option value="KS">Kansas</option>
            	<option value="KY">Kentucky</option>
            	<option value="LA">Louisiana</option>
            	<option value="ME">Maine</option>
            	<option value="MD">Maryland</option>
            	<option value="MA">Massachusetts</option>
            	<option value="MI">Michigan</option>
            	<option value="MN">Minnesota</option>
            	<option value="MS">Mississippi</option>
            	<option value="MO">Missouri</option>
            	<option value="MT">Montana</option>
            	<option value="NE">Nebraska</option>
            	<option value="NV">Nevada</option>
            	<option value="NH">New Hampshire</option>
            	<option value="NJ">New Jersey</option>
            	<option value="NM">New Mexico</option>
            	<option value="NY">New York</option>
            	<option value="NC">North Carolina</option>
            	<option value="ND">North Dakota</option>
            	<option value="OH">Ohio</option>
            	<option value="OK">Oklahoma</option>
            	<option value="OR">Oregon</option>
            	<option value="PA">Pennsylvania</option>
            	<option value="RI">Rhode Island</option>
            	<option value="SC">South Carolina</option>
            	<option value="SD">South Dakota</option>
            	<option value="TN">Tennessee</option>
            	<option value="TX">Texas</option>
            	<option value="UT">Utah</option>
            	<option value="VT">Vermont</option>
            	<option value="VA">Virginia</option>
            	<option value="WA">Washington</option>
            	<option value="WV">West Virginia</option>
            	<option value="WI">Wisconsin</option>
            	<option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          </div>
          <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  I want to recieve promotional emails.</a>
                </label>
              </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              I agree to these <a href="#">terms and conditions.</a>
          </label> 
         </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Sign Up</button>
      </form>
      <% } else {%>
	<h1> You have already regisered and logged in! </h1>
	<% } %>
  </div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
