<!-- TODO: Create a simple footer to include links such as an About page, customer service, etc. -->
<!-- Look at examples online such as fangamer.com -->

<!-- views/partials/footer.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        
        <ul style="list-style-type:none">
            <li>Customer Service</li>
            <li><a>Track an Order</a></li>
            <li><a>Return an Item</a></li>
            <li><a>Return Policy</a></li>
            <li><a>Privacy and Security</a></li>
            <li><a>Feedback</a></li>
        </ul>
    </ul>
    </div>   
    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        <ul style="list-style-type:none">
            <li>Company Information</li> 
            <li><a>About BananaCat</a></li>
            <li><a>Awards/Rankings</a></li>
            <li><a>Hours and Locations</a></li>
            <li><a>Careers</a></li>
            <li><a>BananaCat Insider</a></li>
            <li><a>Testimonials</a></li>
             
        </ul>  
    </ul>
    </div>   
    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        <ul style="list-style-type:none">
            <li>BananaCat Comm.</li>
            <li><a>Events</a></li>
            <li><a>Collectibles</a></li>
            <li><a>Newsletter</a></li>
            <li><a>Testimonials</a></li>
            <li><a>Etc</a></li>
                  
        </ul>
    </ul>
    </div>
    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        <ul style="list-style-type:none">
            <li>My Account</li>
            <li><a>Login/Register</a></li>
            <li><a>My Dashboard</a></li>
            <li><a>Order History</a></li>
            <li><a>Returns History</a></li>
            <li><a>Wish Lists</a></li>
            <li><a>Email Notifications</a></li>
            <li><a>Subscription Orders</a></li>
            <li><a>Auto Notifications</a></li>
    
        </ul>
    </ul>   
    </div>
    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        <ul style="list-style-type:none">
            <li>Tools & Service</li>
            <li><a>Sell on BananaCat</a></li>
            <li><a>Shipped by BananaCat</a></li>
            <li><a>Become a BananaCat Vendor</a></li>
            <li><a>Shop by Brand</a></li>
            <li><a>Product Review</a></li>
           
        </ul>
    </ul>
    </div>
    
</div>
</nav>


<p class="text-center text-muted">© Copyright 2018 Group Squared</p>
