<!-- TODO: Create a simple footer to include links such as an About page, customer service, etc. -->
<!-- Look at examples online such as fangamer.com -->

<!-- views/partials/footer.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
<div class="row">

    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        
        <ul style="list-style-type:none">
            <li>About BananaCat</li>
            <li><a>Our Mission</a></li>
            <li><a>Careers</a></li>
            <li><a>Feedback</a></li>
        </ul>
    </ul>
    </div>

   <div class="navbar-footer">
    <ul class="nav navbar-nav">
        
        <ul style="list-style-type:none">
            <li>Account Management</li>
            <li><a href="/login">Login</a></li>
            <li><a href="/myaccount">My Account</a></li>
        </ul>
    </ul>
    </div>   

    <div class="navbar-footer">
    <ul class="nav navbar-nav">
        <ul style="list-style-type:none">
            <li>Social Media</li>
            <li><a href="https://twitter.com/csuf">Twitter</a></li>   
            <li><a href="https://www.facebook.com/CSUFofficial/">Facebook</a></li>
            <li><a href="https://www.instagram.com/csufofficial/">Instagram</a></li>
            <li><a href="https://www.youtube.com/user/CSUFullerton">YouTube</a></li>
            <li><a href="https://csufofficial.tumblr.com/">Tumblr</a></li>
           
        </ul>
    </ul>
    </div>
    
</div>
</nav>


<p class="text-center text-muted">© Copyright 2018 Group Squared</p>
