<!-- views/partials/header.ejs -->

 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/B2HtRJh.png" width="30" height="30" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Browse
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/apparel">Apparel</a>
                        <a class="dropdown-item" href="/booksandmanga">Books & Manga</a>
                        <a class="dropdown-item" href="/figurines">Figurines</a>
                        <a class="dropdown-item" href="/snacks">Snacks</a>
			   <a class="dropdown-item" href="/videogames">Video Games</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Discover</a>
                </li>
            </ul>

            <!-- This is the right side of the NavBar-->
            <div class="d-flex flex-row-reverse">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Support
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" href="#">About Us</a>
                                <a class="dropdown-item" href="/feedback">Feedback</a>
                                <a class="dropdown-item" href="#">Policies</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/contactus">Contact Us</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myaccount">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppingcart">Shopping Cart <span class="badge badge-warning">9</span></a>
                    </li>
                </ul>
                </span>

            </div>
        </div>
    </nav>
